<h1> Log In </h1>

<%= form_for @user, :url => url_for(:controller => 'users', :action => 'log_user_in') do |f|%>
<%= f.label :username%>
<%= f.text_field :username%>
<%= f.label :password%>
<%= f.text_field :password%>
<%= f.submit 'Log In'%>
<% end %>

<% if @error != nil %>
<p><%= @error %></p>
<% end %>

<ul>
<% if @user.errors.any? %>
<%= pluralize(@user.errors.count, "error") %>
<% @user.errors.full_messages.each do |msg| %>
   <li> <%= msg %></li>
    <% end %>
    <% end %>
</ul>