<h1> Sign Up </h1>

<%= form_for @user do |f|%>
<%= f.label :username%>
<%= f.text_field :username%>
<%= f.label :password%>
<%= f.text_field :password%>
<%= f.submit%>
<% end %>

<ul>
<% if @user.errors.any? %>
<%= pluralize(@user.errors.count, "error") %>
<% @user.errors.full_messages.each do |msg| %>
   <li> <%= msg %></li>
    <% end %>
    <% end %>
</ul>