<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="application.css">
    <title>Document</title>
</head>
<body>
    <div class="App">
        <div class="navBar">
            <div class ="navLinks">

        
            <a>Logged in as <%= @user.username%></a>
                <a> <%=link_to "About", about_path %> </a>
            </div>
        </div>

        <div class="main">
            <h1 class="midWords">Create Playlist</h1>
            <div class='form'>
                <%= form_for @playlist do |f|%>
                    <%= f.label :name%>
                    <%= f.text_field :name%>

                    <%= f.submit%>
                    <% end %>
            </div>
                  
        </div>

        <div class="about">
            <p class="aboutTitle">About</p>

            <div class="aboutContainer">
                <div>
                    <p>things and stuff</p>
                </div>
                <div>
                    <p>stuff and things</p>
                </div>
            </div>
        </div>

    </div>

</body>
</html>
